.hidden {
  display: none;
}

.list-metrics {
  
  
  margin: 0 0 30px;

  .list-metrics-data {
    display: flex;
    justify-content: space-around;

    div label,
    div span {
      display: block;
    }

    div label {
      font-weight: bold;
    }
  }
}


.row-filter {
  .filter-edit-col {
    display: flex;
  }

  select {}

  div {
    padding: 0;
  }
}

.member-list {
  .cmds-result {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 5px;

    button {
      margin-right: 10px;

      &:last-of-type {
        margin-right: 0;
      }
    }

    button i {
      margin-right: 5px;
    }
  }

  // .result-grid:nth-of-type(odd) {
  //   background: $gray-100;
  // }

  .edit-col {
    display: flex;
    justify-content: space-between;

    >div:first-of-type {
      text-align: center;
      width: 30px;
    }

    .edit-links {
      width: 100%;

      display: flex;
      justify-content: flex-end;

      a {
        margin-right: 20px;

        span {
          position: absolute;
          display: block;
          text-indent: -9999px;
          text-align: left;
          overflow: hidden;
        }
      }

      >a:last-of-type {
        margin-right: 0;
      }

      .hold-status {
        span {
          display: inline-block;
          text-align: right;
        }
      }
    }
  }
}


.check-buttons {
  margin: 10px 0;

  input {
    width: 30px;
  }
}

.table-info {
  background: transparent;
  display: flex;
  flex-wrap: wrap;

  label, .label {
    flex-basis: 33%;
  }

  a span {
    position: absolute;
    display: block;
    text-indent: -9999px;
    text-align: left;
    overflow: hidden;
  }

}

.icon-mark span {
  position: absolute;
  display: block;
  text-indent: -9999px;
  text-align: left;
  overflow: hidden;
}

.tabbed-control,
.tab-content {
  min-height: 175px !important;

}