.list-metrics {
  border: 1px solid $carolina-blue;
  padding: 10px;
  margin: 0 0 30px;

  .list-metrics-data {
    display: flex;
    justify-content: space-around;

    div label,
    div span {
      display: block;
    }

    div label {
      font-weight: bold;
    }
  }
}

.row-header {
  line-height: 35px;
  a {
    color: $white;
    text-decoration: underline;
  }
}
.row-filter {
  .filter-edit-col {
    display: flex;
  }
  select {
  }
  div {
    padding: 0;
  }
}
.member-list {
  .cmds-result{
      display:flex;
      justify-content: space-between;
      margin-top:20px;
      margin-bottom:5px;

      button{
        margin-right:10px;
        &:last-of-type{
          margin-right:0;
        }
      }
      
      button i{
        margin-right: 5px;
      }
  }
  // .result-grid:nth-of-type(odd) {
  //   background: $gray-100;
  // }

  .edit-col {
    display: flex;
    justify-content: space-between;

    > div:first-of-type {
      text-align: center;
      width: 30px;
    }
    .edit-links {
      width: 100%;

      display: flex;
      justify-content: flex-end;
      a {
        margin-right: 20px;
      }
      > a:last-of-type {
        margin-right: 0;
      }

      .hold-status {
       span{ display: inline-block; text-align: right;}
      }
    }
  }
}


.check-buttons{
    margin: 10px 0;
    input{
        width: 30px;
    }
}
.table-info{
  background: transparent;
  display: flex;
  flex-wrap: wrap;
  
  label{
    flex-basis: 33%;
  }

}
.tabbed-control, .tab-content    {
  min-height: 175px !important;
  
}