.tab-content {
    //min-height: 700px;
  }
  .search-result {
    // min-height: 500px;
  }
  .search-control {
    border-top: 1px solid $carolina-blue;
    margin-top: 20px;
    padding-top: 20px;
  }
  .result-grid {
    line-height: 40px;
    border: 1px solid $gray-100;
    display:flex;
    &:nth-child(even) {
      background: $gray-100;
    }
  }
  .subscribers-by-email:nth-of-type(odd) {
    background: $white;
  }
  
  ul.search-links,
  ul.search-links li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul.search-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    border: 1px solid $carolina-blue;
    background: lighten($carolina-blue, 40%);
    padding: 10px;
  }
  ul.search-links li {
    height: 30px;
    width: 230px;
    margin: 0 15px;
    text-align: center;
  
    a {
      text-decoration: underline;
  
      &.selected {
        font-weight: bold;
      }
  
      i {
        margin-left: -15px;
        line-height: 25px;
        position: absolute;
      }
    }
  }
  
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.5s;
  }
  .search-control .fade-enter-active,
  .search-control .fade-leave-active {
    position: absolute;
  }
  .form-group {
    position: relative;
  }
  .controls button:first-of-type {
    margin-right: 10px;
  }
  .edit-col {
    
    display: flex;
    justify-content: flex-end;
    a {
    
      margin-right: 20px;
    }
    
  }