div.radio-buttons {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;

    div {
        text-align: center;
        list-style: none;
        padding: 0;
        margin: 0;
        flex: 1;
    }

}