.search-criteria {
    margin-bottom: 20px;

    .header {
        background: $carolina-blue;
        padding: 5px 0 5px 15px;
        color: $white;
    }

    .submit {
        margin-top: 20px;
    }
}

.search-criteria-fields {
    border: 1px solid $carolina-blue;
    padding: 20px;
    // display: flex;
    // align-items: stretch;
    flex-wrap: wrap;
}

.result-grid>div {
    display: flex;
    flex: 1;
    flex-wrap: wrap;

    .entity-details{
        width: 100%;
        
    }
}




.sdd-grid {
    height: 200px;
}
