.reduce-text {
  font-size: .8em;
}

.side-menu {
  /* god damn ie */
  -ms-grid-column: 1;
  //full screen minus top header minus footer
  //height: calc(100vh - 175px - 75px);
  box-sizing: border-box;
  z-index: 100;
  box-shadow: 10px 5px 10px #888;
  //border-left: 1px solid red;

  //scrolling is done automatically by simplebar
  //https://github.com/Grsmto/simplebar

  user-select: none;
  //prevent anoying accidental text selection

  .side-menu-pager {
    border-top: 1px solid lighten($color: $athletics-navy, $amount: 70%);
    margin: 0 15px;

    width: 230px;
    height: 52px;
    overflow: hidden;

    ul {
      padding-left: 0;
      display: flex;
      flex-flow: row;
      justify-content: center;
    }

    ul li {
      list-style: none;
      padding-top: 10px;
      display: flex;
      color: $carolina-blue;

      nav,a {
        text-decoration: underline;
        font-weight: bold;
      }

      i {
        font-size: 0.7em;
        line-height: 20px;
        height: 20px;
        margin-left: 10px;
        margin-right: 10px;
      }

      &:last-of-type {
        i {
          display: none;
        }
      }
    }
  }

  .nav {
    display: flex;
    flex-direction: column;
    padding: 0 10px;

    .nav-item {
      display: list-item;
      padding: 0;
      margin-bottom: 10px;
      border-radius: 3px;
      cursor: pointer;

      nav,
      nav:visited ,
      a,
      a:visited {
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        color: $link-blue;
        text-decoration: none;

        i {
          height: 30px;
          width: 30px;
          margin: 0;
          margin-right: 10px;
          padding: 0;
          display: flex;
          justify-content: center;
          align-content: center;
          flex-direction: column;

          &:last-of-type {
            margin-right: 0px;
          }


        }

        span {
          text-align: left;
          margin: 0;
          width: 130px;
        }
      }

      &:hover {
        background: $gray-300;

      }

      &.active {
        background: $carolina-blue;
        box-shadow: 0 2px 5px #333;

        nav,
        nav:visited {
          color: $white;
        }
      }

      :focus {
        border: 1px solid $athletics-navy;
        position: relative;
        overflow: hidden;
        margin-top: -1px;
      }

      &:last-of-type {
        margin-bottom: 0px;
      }
    }
  }
}

.main-app-section-collapsed {
  .side-menu-pager{
    display:none;
  }
  .side-menu {
      padding-top:40px !important;
      
      
    .nav {
      .nav-item {
        padding: 0;
        nav,a {
          padding: 0;

          span {
            display: none;
          }
          i{margin:0;}
          i:nth-of-type(2){
            display:none;
          }
        }

        
      }

    }
  }

}

/* https://www.w3schools.com/css/css_rwd_mediaqueries.asp */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .hide-side-menu {
    display: none;
  }

  .side-menu {

    box-shadow: none;
    border: 1px solid $carolina-blue;
    position: absolute;
    background: $white;
    width: 100%;
    width: 300px;
    height: 100vh;
    height: calc(100vh - 175px - 75px);

    right: 0;
  }

  .main-app-section-collapsed {
    .side-menu-pager{
       display:block;
    }
    .side-menu {
      margin-top:auto;
      .nav {
        .nav-item {
          
          nav,a {
            padding: 0.5rem 1rem;
  
            span {
              display: block;
            }
            i{margin:0 10px 0 0;}
            i:nth-of-type(2){
              display:flex;
              margin:0;
            }
          }
  
          
        }
  
      }
    }
  
  }



}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}