.summary {
    margin-top:50px;
    .one-column{
        margin-left:50px;
        display:block;
        
    }
    .one-column, .two-column{
        margin-top:0;

    }
   .header {
    font-weight: bold;
  }
}
.message-preview {
  width: 640px;
  margin: auto;
  border: 1px solid lighten($carolina-blue, 40%);
  overflow: hidden;
}
