.row-header {
  display: flex;

  >div {
    flex: 4;

    &:nth-of-type(2) {
      flex: 1;
    }

    &:nth-of-type(3) {
      flex: 1;
      text-align: right;
    }
  }
}

.domain-detail {

  .entity-detail {
    display: flex;

    >div {
      flex: 4;

      &:nth-of-type(2) {
        flex: 1;
      }

      &:nth-of-type(3) {
        flex: 1;
        text-align: right;
      }
    }
  }

  >div.container {
    >div {
      display: block;
    }
  }

}

.expanded {
  transform: rotate(-180deg);
  transition: transform 150ms ease;
}

.collapsed {
  transform: rotate(-360deg);
  transition: transform 150ms ease;
}

.child-entities {
  border: 1px solid $carolina-blue;

  .child-entity {
    padding: 0 20px;
    display: flex;

    >div {
      flex: 1;
    }

    >div:nth-of-type(2) {
      text-align: right;
    }
  }

  .child-entity:nth-of-type(even) {
    background: $white;
  }

  .child-entity:nth-of-type(odd) {
    background: $gray-100;
  }


}

.entity-children {
  margin: 0 40px;
}



