.card {
  margin: 50px 0;
  min-height: calc(100vh - 275px);
}
.simplebar-scrollbar {
  width: 2px !important;
}
.card-body {
  // display: flex;
  // align-items: stretch;

  .subscription-info {
    
    ul{
      border: 1px solid $gray-100;
    }
    ul,
    li {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      
      line-height: 34px;
      padding: 0 0 0 20px;
      &:nth-child(even) {
        background: $gray-100;
      }
      &:last-child {
        border: none;
      }
    }
  }
}
.list-container{
  border: 1px solid $carolina-blue;
}
.header {
  background: $carolina-blue;
  color: $white;
  padding: 12px 0 12px 12px;
  span:first-of-type{
    margin-right:30px;
  }

}
.records{
  flex: 1;
  margin: 0 0 20px;
}