.ico{
    padding:0;
    padding-right:10px;
    line-height: 0;
    span{
        
        padding:10px;
        display:inline-block;
        background: darken($carolina-blue, 10%);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        
    }

    &:hover{
        span{
            background: darken($carolina-blue, 15%);
        }
        
    }

}

.select-list{
    margin-bottom:20px;
    >span{
        display:block;
        text-align: center;
    }
    >div{
        display:grid;
        grid-template-columns: repeat(1fr, 4);
        grid-template-rows: 1;
        //justify-items: flex-end;
        // align-items: flex-end;
        select{
            grid-column-start: 2;
        }
        .group-btns{
            grid-column-start: 3;
            button:first-child{
                margin:0 3px;
                
            }
        }
    }
    
}

#confirmDelete .alert-info{
    display: flex;
    min-height:130px;
    justify-content: stretch;

    >div, >p{
        
        justify-self: center;
        align-self: center;
    }
}