.one-column {
    margin-top:20px;
    display:flex;
    justify-content: center;
    .form-group{
        
        .label-info{
            display:grid;
            grid-template-columns: 330px 150px;
        }
        .form-inline {
            display:grid;
            
            grid-template-columns: 400px 50px;
            .pop-over-content{
                margin-left: 10px;
            }
            input,select{
                width: 100% !important;
                
            }
            .twitter-typeahead{
                display:block;
                width: 100%;
            }
        }
    }
}

.one-column-email {
    margin-top:20px;

    .form-group{
        margin:auto;
        margin-left: auto;
        margin-right:auto;
        width:480px;
        .label-info{
            display:grid;
            grid-template-columns: 330px 150px;
        }
        .form-inline {
            display:grid;
            grid-template-columns: 350px 50px 20px;
            justify-items: stretch;
            .pop-over-content{
                margin-left: 10px;
            }
            input,select{
                 width: 100% !important;
            }
            .twitter-typeahead{
                display:block;
                width: 100%;
            }
        }
    }
}

.two-column {
    margin-top:20px;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
        

    .validation-error{
        flex-grow: 1;
        flex-shrink: 1;
        padding:0;
    }
    
}


.date-picker{
    display:flex !important;
    flex-direction: column;
    width:400px;
}

.submit{
    margin-top:20px;
    display:flex;
    justify-content: space-between;
}