.hide {
    position: absolute;
    text-indent: -9999px;
}

.dashboard-widgets {
    display: grid;
    grid-template-columns: repeat(3, 1fr);


}

.widget {
    h4 {
        font-size: 1.1em;
        line-height: 1.5em;
        padding: 10px 0;
        margin: 0;
    }

    .environment-data,
    .card-body {

        p,
        span {
            color: $athletics-navy;

        }
    }

    .display-gal-sync {
        font-family: "Orbitron, sans-serif";
        font-display: auto;
        text-align: center;
        font-size: 3em;
    }

    .spinner {
        position: absolute;
        top: -20px !important;
    }


    .widget-nav {
        display: flex;

        a span {
            position: absolute;
            display: block;
            text-indent: -9999px;
            text-align: left;
            overflow: hidden;

        }

        div {
            flex: 1;
            font-size: 1.8em;
            align-self: flex-end;


            &:nth-of-type(2) {
                flex: 10;
                text-align: center;
                align-self: flex-start;
                font-size: 1em;

                span {
                    display: block;
                }
            }

            &:nth-of-type(3) {
                text-align: right;
            }

        }

        .max-date {
            color: $gray-500;
        }
    }
}











@media only screen and (max-width: 600px) {
    .dashboard-widgets {
        grid-template-columns: 1fr;

    }

    .bearer-token-widget {
        display: none;
    }
}