

.dashboard-widgets {
    
    display: grid;
        
    grid-template-columns: repeat(3, 1fr);
    

}



.widget .display-gal-sync{
    font-family: "Orbitron, sans-serif";
    text-align:center;
    font-size: 3em;
}



.provisions-today{
    padding:0;
}