#testMessages{
    ul{
        border: 1px solid $gray-200;
    }
    ul, ul li{
        list-style: none;
        margin:0;
        padding:0;
        li{
            display:flex;
            padding:0 20px;
            line-height: 45px;
            justify-content: space-between;
        }
        li:nth-of-type(even){
            background: $gray-200;
        }
    }
   
}