.top-header {
    display: flex;
    
    /* god damn ie */
    -ms-grid-row: 1;

    .logo {

        flex-basis: $col1-lg-width;
        background-image: url("../../assets/UNC_logo_RGB.png");
        height: 100px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-origin: content-box;
        padding: 10px;

    }

    .site-title {
        flex: 1;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        font-size: .9em;

        a {
            color: $carolina-blue;
            color: $athletics-navy;
        }

        a:hover {
            text-decoration: none;
            color: $link-blue;
        }

        .user-info {
            flex: 1;

            text-align: right;
            justify-self: stretch;
            align-self: stretch;
        }

        .title-content {
            align-self: flex-end;


            h1,
            h2,
            h3 {
                color: $carolina-blue;
                text-align: right;
                margin-right: 10px;
                margin: 10px 10px;
                line-height: 18px;
                font-family: 'Vollkorn', serif;

            }

            h1 {
                font-size: 1.3em;
            }

            h2 {
                font-size: 1em;
            }

            h3 {
                font-size: .8em;
                line-height: 12px;
            }

            .burger-section{
                color:$carolina-blue;
                float:right;
            }
        }
    }
}

/* https://www.w3schools.com/css/css_rwd_mediaqueries.asp */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .top-header {
        .logo {
            margin-left: -200px;
            background-position: 200px 0px;
        }

        .site-title {
            .title-content {
                    a,
                    h2,
                    h3 {
                        display:none;
                    }

                    h1 {
                        font-size: 2em;
                    }
                
            }
        }
    }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .top-header {
        .logo {
            flex-basis: 200px !important;
        }

        .site-title {
            a,
            h2,
            h3 {
                display: block;
            }

            .burger-section{
             display: none;
            }
        }
    }
}

