.twitter-typeahead {
    display: block;
    width: 100%;
  
    input {
    }
  }
  input[type="checkbox"] {
    width: 60px;
  }

  .check-buttons{
    
    display: flex;
    
    
    
    input{
      align-self: center;
      margin-left: 20px;
    }
    label{
      margin-top:0;
      margin-left: 20px;
    }
  }