
.account-details {
    div{
        display: flex;
        flex-wrap: wrap;

        span.label {
            justify-self: self-start;
            margin-right: 10px;
            width: 300px;
            text-align: right
        }
    }

}
// .yes-no-fields {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;

 

//     div {
//         width: 50%;
//         display: flex;
//         flex-wrap: wrap;

//         span.label {
//             justify-self: self-start;
//             margin-right: 10px;
//             width: 300px;
//             text-align: right
//         }
//     }
// }
