.bg-secondary {
    width: 100%;
}
.result-grid:nth-of-type(odd){
    background: $gray-100;
}
.result-grid:nth-of-type(even){
    background: $white;
}
.result-grid>div {
    display: flex;
    flex: 1;
    flex-wrap: wrap;


    .entity-details {
        width: 100%;

    }
}



.sdd-grid {
    height: 200px;
}
