#audience-selection{
    list-style: none;
    margin:0;
    
    li{
        display: flex;
        margin: 10px 0;
        padding: 0 0 10px;
        border-bottom: 1px dotted $carolina-blue;

        &:last-of-type{
            border-bottom: none;
        }
        div{
            flex: 0;
            
            input
            {
                width:30px !important;
                border: none !important;
            }
        }
        label{
            flex:1;
            justify-content: left;
            
        }
    }
}

.check-audience{
    border: 1px solid $carolina-blue;
    margin:30px;
    
}
.input-w-btn{
    .form-inline {
        display:grid;
        grid-template-columns: 300px 100px 50px !important;
    }
    input{
        width: 90%;
    }       
}

.accordion .card {
    margin:auto;
}

