.route-fields{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    >div{
        flex-basis:300px;
    }

}

.child-routes{
    flex-basis:100%;
}

.two-col{
    flex: 100%;
    display: flex;
    justify-content: space-between;
    >div{
        flex: 1fr;
        
    }
    select {
        width: 300px !important;
    }
}


.route-info {
    .validation-error{
        position: absolute !important;
        margin-top:-8px;
    }
    
    .nav-link{
        padding:3px;
        line-height: 15px;
        font-size: .8em;
        
    }
}
