.route-fields{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    >div{
        flex-basis:300px;
    }

}

.child-routes{
    flex-basis:100%;

}
.validation-error{
    position: absolute !important;
    margin-top:-8px;
}
.route-info {
    .nav-link{
        padding:3px;
        line-height: 15px;
        font-size: .8em;
        
    }
}
