.search-criteria {
    margin-bottom: 20px;

    .header {
        background: $carolina-blue;
        padding: 5px 0 5px 15px;
        color: $white;
    }

    .submit {
        margin-top: 20px;
    }

    border: 1px solid $carolina-blue;
}

.result-grid{
    display: flex;
    >div{
        flex:1;

    }
}

.row-header{
    display:flex;
}