
div.site-footer{
    display: grid;
    grid-template-columns: $col1-lg-width 1fr;

    .item1 {
         background-image: url("../../assets/Information-Technology-Services_logo_rgb_h-e1522077898595.png");
         height: 75px;
         background-size: contain;
         background-repeat: no-repeat;
         background-position: 50% 50%;
         background-origin: content-box;
         padding: 10px;
      
    }
    .item2{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-self:flex-end;
        color: $link-blue;
        
        i{
            margin-right: 10px;
        }
        i, p{

            height:40px;

        }
        
      
    }
    


}