$material-icons-font-path: '~material-icons/iconfont/';
//$fa-font-path: "~font-awesome/fonts";
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
//@import "vue-toastr/src/vue-toastr.scss";
@import "bootstrap/scss/bootstrap.scss";
@import 'material-icons/iconfont/material-icons.scss';

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/v4-shims.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

@import "chartist/dist/scss/chartist.scss";

// @import "@material/list/mdc-list";
// @import "@material/menu-surface/mdc-menu-surface";
// @import "@material/menu/mdc-menu";
// @import "@material/select/mdc-select";

body {
  font-family: 'Roboto', sans-serif;
  font-display: auto;
  /*hack to get dialog behavior correct*/
  position: relative;
  z-index: -1;
}

label,
.label {
  color: $gray-800;
}

input::placeholder {
  color: $gray-500 !important;
}

.app {
  /*hack to get dialog behavior correct*/
  position: relative;
  z-index: -1;
}

.strong {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.text-disabled {
  color: $gray-400;
}

.form-inline {
  label {
    margin-right: 10px;
  }

  button {
    margin-left: 5px;
  }

  button:first-of-type {
    margin-left: 10px;
  }
}

.app-container {
  display: -ms-grid;
  display: grid;

  height: 100vh;

  -ms-grid-rows: 100px 1fr 75px;
  grid-template-rows: 100px 1fr 75px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;

  .main-app-section {
    /* god damn ie */
    -ms-grid-row: 2;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: $col1-lg-width 1fr;
    grid-template-columns: $col1-lg-width 1fr;
    -ms-grid-rows: 1fr;
    box-shadow: 0px 5px 5px #888;
    //@@ bd
    height: calc(100vh - 100px - 75px);

    .app-section {
      /* god damn ie */
      -ms-grid-column: 2;
      background: $gray-500;
      height: calc(100vh - 100px - 75px);

    }
  }

}
.screen-reader-hide{
  position: absolute;
  text-indent: -9999px;
}

.radio-buttons,
.check-buttons {
  label {
    font: 300 16px/1.7 'Open Sans', sans-serif;
    color: $athletics-navy;
    font-weight: 900;
    cursor: pointer;
    margin-top: 10px;
  }

  input {
    appearance: none;
    display: inline-block;
    position: relative;
    background-color: $gray-500;
    color: $black;
    
    top: 10px;
    height: 30px;
    width: 30px;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 7px;
    outline: none;

    &:checked::before {
      position: absolute;
      font: 16px/1 'Open Sans', sans-serif;
      font-weight: bolder;
      left: 11px;
      top: 5px;
      content: '\02143';
      transform: rotate(40deg);
    }

    &:hover {
      background-color: $gray-600;
    }

    &:checked {
      background-color: $gray-500;
    }
    &:active,&:focus  {
      border: 1px solid $carolina-blue;
    }
  }

}

.check-buttons {
  display: flex;

  input {
    border-radius: 0;
    top: 0;
    //width:50px;
  }

}

.card {
  margin: 50px 0;
  height: calc(100% - 100px);
}


.card.card-icon {
  border-radius: 5px;


  >.card-header {

    display: grid;

    grid-template-columns: 100px 1fr;

    h1 {
      text-align: center;
      margin-right: 100px;

    }
  }

  .icon {
    border-radius: 5px;
    display: grid;

    width: 75px;
    height: 75px;
    margin-top: -30px;
    text-align: center;
    align-items: center;
    box-shadow: 5px 5px 15px #888888;


    i {
      font-size: 2em;
    }
  }

  .card-header {
    background: transparent;
    border: 0;
  }
}
.label-info{
  display:flex;
  justify-content: space-between;
  .required{
    color: $red;
  }
}

.widget .card-header {
  display: block;
  margin: 10px;
  margin-top: -20px;
  box-shadow: 0px 5px 5px #888;
  border-radius: 3px;

  text-align: center;
  padding: 4px;
}

.widget .card-header p {
  margin: 10px;

}

.widget .card-body {
  color: $carolina-blue;
}

.row-header {
  line-height: 40px;

  a,a:visited {
    color: $white;
    text-decoration: underline;
  }

}

.result-grid {
  line-height: 40px;

  &:nth-of-type(even) {
    background: $gray-100;
  }
}

.list-container{
  border: 1px solid $carolina-blue;
}

.alert {
  padding: 5px;
  display: flex;
  align-items: center;

  .info {
    flex: 80px;
    flex: 0 0 80px;

    i {
      font-size: 5em;
      opacity: .4;
      padding: 5px;
      margin-left: 20px;
    }

  }

  >div:nth-of-type(2) {
    flex: 1fr;
    padding-left: 15px;
    padding: 0 15px;
    color: $gray-700;

  }
}

.input-error {
  border: 1px solid red;
}

.more-info {
  margin-left: 10px;
  border: 1px solid $gray-500;
  border-radius: 5px;
  padding: 2px 3px;
}

.more-info.expanded {
  transform: rotate(-180deg);
  transition: transform 150ms ease;
}

.more-info.collapsed {
  transform: rotate(-360deg);
  transition: transform 150ms ease;
}


.expand-enter-active {
  transition: all 0.5s ease;
  height: 242px;
  overflow: hidden;

  .sdd-grid {
    overflow: hidden !important;
  }
}

.expand-leave-active {
  transition: all 0.5s ease;
  height: 242px;
}

.expand-enter,
.expand-leave-to {
  height: 0;
  opacity: 0;
}
.result-grid a span {
  position: absolute;
  display: block;
  text-indent: -9999px;
  text-align: left;
  overflow: hidden;
}


.list-scrollbar {
  background: $gray-700;
  border-radius: 8px;
  width: 8px;
  margin-left: 3px;
  cursor: pointer !important;

}

.simplebar-scrollbar {
  background: $carolina-blue;
  width: 15px;
  border-radius: 15px;
  cursor: pointer !important;
}

.simplebar-vertical {
  cursor: pointer !important;
}

// this seems to fix window resize issues with scrollbar
.simplebar-placeholder {
  width: auto !important;
}



.simplebar-scrollbar {
  background: $carolina-blue;
  width: 15px;
  border-radius: 15px;
  cursor: pointer !important;

}



.sb-scrollbar,.slim-scrollbar {
  position: absolute;
  right: 2px;
  width: 7px;
  min-height: 10px;
}

.sb-scrollbar:before, .slim-scrollbar:before {
  position: absolute;
  content: "";
  background: #000;
  border-radius: 10px;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.2s linear;

}

.simplebar-track .sb-scrollbar.simplebar-visible:before,.simplebar-track .slim-scrollbar.simplebar-visible:before {
  /* When hovered, remove all transitions from drag handle */
  opacity: 0.5;
  transition: opacity 0s linear;
}

.simplebar-track.simplebar-vertical .sb-scrollbar:before,.simplebar-track.simplebar-vertical .slim-scrollbar:before {
  top: 2px;
  bottom: 2px;
}

.simplebar-track.simplebar-horizontal .sb-scrollbar:before,.simplebar-track.simplebar-horizontal .slim-scrollbar:before {
  height: 100%;
  left: 2px;
  right: 2px;
}

.simplebar-track.simplebar-horizontal .sb-scrollbar,.simplebar-track.simplebar-horizontal .slim-scrollbar {
  right: auto;
  left: 0;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

.fly_in-enter-active {
  animation: inFromRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
}

.fly_in-leave-active {
  animation: outToRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
  display: none !important;
}


.fly_in-move {
  left: 0;
  transition: transform 0.5s;
}


@keyframes inFromRight {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
  }
}

@keyframes outToRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}


.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;

  &.container {
    display: none;
  }
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active below version 2.1.8 */
  {
  opacity: 0;
}


.list {

  &-move {
    transition: opacity .5s linear, transform .5s ease-in-out;
  }

  &-leave-active {
    transition: opacity .4s linear, transform .4s cubic-bezier(.5, 0, .7, .4); //cubic-bezier(.7,0,.7,1); 
    transition-delay: calc(0.1s * (var(--total) - var(--i)));
  }

  &-enter-active {
    transition: opacity .5s linear, transform .5s cubic-bezier(.2, .5, .1, 1);
    transition-delay: calc(0.1s * var(--i));
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }

  &-enter {
    transform: translateX(-1em);
  }

  &-leave-to {
    transform: translateX(1em);
  }

}


/* https://www.w3schools.com/css/css_rwd_mediaqueries.asp */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .app-container {
    display: grid;
    height: 100vh;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr;

    .site-footer {
      display: none;
    }
  }
}



.triggered-events {
  float: right;
  width: 500px;
  height: 300px;
}

.app-section {
  position: relative;
}






/* https://www.w3schools.com/css/css_rwd_mediaqueries.asp */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .app-container {
    height: 100vh;

    .main-app-section {
      grid-template-columns: 1fr;
      box-shadow: none;
      height: 100vh;

      .app-section {
        height: 100vh;
      }
    }




    .alert {
      padding: 5px;
      display: flex;
      font-size: .8em;

      .h4 {
        font-size: 1.2em;
      }


    }





  }



}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}