h2{
  font-size: 1.3em;
}

.card {
  margin: 50px 0;
}


ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.control {
  font-size: 18px;
  position: relative;
  display: block;
  margin-bottom: 15px;
  padding-left: 30px;
  cursor: pointer;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.header {
  background: $carolina-blue;
  color: $white;
  display: flex;
  padding: 10px;

  div:first-child {
    text-align: center;
    flex:3;
  }

  div:last-child {
    text-align: center;
    flex:1;
  }
}


.result-grid {
  display: flex;
  justify-content: space-around;
  line-height: 35px;

  flex-flow: row nowrap;

  

  div {
    text-align: left;
    height: 40px;
    margin: auto;
    flex: 1;

    &:first-of-type{
      text-align: left;
      padding-left: 20px;
      flex:3;
    }
  }

  >div:nth-of-type(even) {
    padding-right: 20px;
  }



}
form {
  padding: 10px;
  .submit {
    text-align: right;
    margin:20px 10px;
  }
  margin-bottom: 20px;
}
.results {
  margin: 10px;
  border: 1px solid $carolina-blue;
  
}
.add-new-alias {
  padding:10px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  
  h4 {
    color: $carolina-blue;
  }

  h4,
  .submit {
    flex-basis: 100%;
  }

  .submit {
    text-align: right;
    margin:20px 0;
  }
  >div {
    
    flex-grow: 1;
    flex-shrink: 1;
    padding:0;
    
    
    
    //<label for="newAlias">New Alias (E-mail prefix)</label>
    //<span class="required">Required</span>
    
    &:nth-of-type(2) {
      flex-basis: 1em;
      flex-grow: 0;
      flex-shrink: 0;
    }
  }
}

.validation-error {
  position: absolute;
}

