

.list-deletions-header,
.list-deletions-rows {
  
  display: grid;
  
  
  grid-template-columns: 5fr repeat(3, 2fr) 1fr;
  
}

.col-number {
  text-align: right;
}

.col-name {
  min-width: 215px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  hyphens: auto;
}

.col-last {
  display: flex;
  justify-content: space-between;
}


.subscriber-dump {
  grid-column: 1/6;
  overflow: hidden;
}

.sdd-grid {
  height: 200px;
}

a span {
  position: absolute;
  display: block;
  text-indent: -9999px;
  text-align: left;
  overflow: hidden;
}
