.modal-footer {
    button {
        margin-right: 5px;
    }

    button:last-of-type {
        margin-right: 0;
    }

}

.modal-title {
    color: #888;
}

 
.modal-dialog {
    // max-width: 1850px !important;
  }